<div id="curso-Create" class="container mt-4">
    <div class="row">
        <div class="col-sm">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/curso">Cursos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Adicionar Cursos</li>
                </ol>
            </nav>
        </div>
    </div>

 
<% if (typeof error !== 'undefined'){ %>
	<p><%= error %></p>

<% } %>

<form action="/curso/create" method="post" class="px-5">
<div class="form-group" >
    <label for="sigla">Sigla</label>
    <input type="text" class="form-control" id="sigla" name="sigla" placeholder="FT05">
  	
  </div>

 <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" placeholder="Curso nome">
  	
  </div>

 <div class="form-group">
    <label for="desc">Descrição</label>
    <input type="text" class="form-control" id="desc" name="desc">
  	
  </div>


  <input type="hidden" name="_csrf" value="<%= _csrf %>">


    <button   class="btn btn-dark">Enviar</button>

</form>


</div>