<div id="curso" class="container mt-4">
    <div class="row">
        <div class="col-sm">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Cursos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Adicionar Cursos</li>
                </ol>
            </nav>
        </div>
    </div>

 <!--   <%= if(typeError == 'undefined') %>
        <p></p> -->


</div>